@font-face {
    font-family: 'Publicsans' sans-serif;
    src: url(./fonts/PublicSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family:' Publicsans' sans-serif;
    src: url(./fonts/PublicSans-Bold.ttf);
    font-weight: 700;
}




.container{
    width: 1440px;
    margin: 0 auto;
    margin-top: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 60px;
}

.nav-menu{
    display: flex;
    gap: 30px;
}

img{
    width: 540px;
    transition: all 0.5s ease-out;

}


img:hover{
    box-shadow: 22px 21px 7px -4px rgba(34, 60, 80, 0.2);
}
.div{
    display: flex;
    gap: 100px;
    margin-top: 150px;
    align-items: center;
}



.div2{
    width: 350px;
}

.div3{
    width: 350px;
}

.footer{
    padding: 30px 60px;
    width: 1600px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: black;
}

.footer-list{
    color: white;
}

.footer3{
    gap: 60px;
    display: flex;
    align-items: center;
}

.nav2{
    display: flex;
    justify-content: space-between;
}

.div1{
    width: 350px;
}


.fa-brands{
    background-color: white;
    width: 24px;

}

.btn{
    background-color: white;
    width: 175px;
    height: 48px;
top: 244px;
gap: 0px;
opacity: 0px;
padding: 10px 30px;
margin-top: 40px;
transition: all 0.5s ease-in-out;
}
.btn:hover{
    background-color:black;
    color:white;
}
